.partnersContainer {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-position: center;
	background-repeat: no-repeat;
	max-width: 40rem;

	// Mobile: turquoise border, no background frame
	border: 2px solid var(--color-turquoise);
	border-radius: 1rem;

	@media (min-width: 1024px) {
		max-width: 80rem;
		border: none;
		border-radius: 0;
		background-image: var(--bg-image);
		background-size: 100% 100%;
	}

	@media (min-width: 1280px) {
		max-width: 90rem;
	}
}

.partnerItem {
	width: 100%;
	max-width: 350px;
	max-height: 175px;
}

// Same styling as Platinum sponsors
.partnerLogos {
	width: 100%;
	aspect-ratio: 2 / 1;
}

@media (min-width: 1024px) {
	.partnerLogos {
		max-width: 350px;
		max-height: 175px;
	}
}
