$zoom-animation-time: 0.15s;

.applicationNoticeContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2.5rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;

	// Left align the subheader container on desktop
	@media (min-width: 1024px) {
		width: fit-content;
		justify-content: start;
	}
}

.applicationBadge {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	border: 5px solid var(--color-yellow);
	border-radius: 0.375rem;
	padding: 1rem;
}

.applicationText {
	font-family: "NicoMoji", sans-serif;
	margin-bottom: 0;
	color: #00ffff;
	font-size: 20px;
	text-align: center;

	@media (min-width: 768px) {
		font-size: 1.5rem;
	}

	@media (min-width: 1024px) {
		font-size: 1.875rem;
	}
}

.applicationDescription {
	font-family: "Lexend Giga", sans-serif;
	margin-bottom: 0;
	color: #00ffff;
	font-size: 16px;
	text-align: center;

	@media (min-width: 768px) {
		font-size: 1.25rem;
	}

	@media (min-width: 1024px) {
		font-size: 1.5rem;
	}
}

.hoverGroup {
	.chatBox,
	.spriteTitle,
	.sprite {
		transition: all $zoom-animation-time ease-out;
	}

	.spriteTitle,
	.sprite {
		filter: drop-shadow(0 0 0 #ffffff00);
	}

	.sword,
	.orb,
	.glasses {
		transition: transform $zoom-animation-time ease-out;
		transition: background-position-x 0.75s ease-out;
	}

	&:hover {
		.chatBox {
			transform: translate(-8px, -8px);
		}
		.spriteTitle,
		.sprite,
		.sword,
		.orb,
		.glasses {
			transform: scale(1.05);
		}

		.spriteTitle,
		.sprite {
			filter: drop-shadow(0 0 8px #fff8a7);
		}

		.sword {
			background-position-x: -150%;
		}

		.orb {
			background-position-x: -110%;
		}

		.glasses {
			background-position-x: -100%;
		}
	}
}

.sword {
	background: linear-gradient(
		-45deg,
		#eeeeee00 48%,
		#fafafa 50%,
		#eeeeee00 52%
	);

	background-size: 300%;
	background-position-x: -105%;

	clip-path: polygon(
		73.35% 51.71%,
		77.17% 55.83%,
		80.15% 51.61%,
		85.17% 51.55%,
		83.68% 82.94%,
		73.64% 95.84%,
		66.75% 83.13%,
		68.24% 55.33%
	);
}

.orb {
	background: linear-gradient(
		-45deg,
		#eeeeee00 48%,
		#fafafa 50%,
		#eeeeee00 52%
	);

	background-size: 300%;
	background-position-x: -90%;

	clip-path: ellipse(18px 18px at 84% 12.5%);
}

.glasses {
	background: linear-gradient(
		-45deg,
		#eeeeee00 48%,
		#fafafa 50%,
		#eeeeee00 52%
	);

	background-size: 300%;
	background-position-x: -83%;
	clip-path: polygon(
		47.11% 27.48%,
		49.88% 25.06%,
		51.67% 25%,
		52.61% 25.56%,
		53.6% 26.55%,
		60.3% 25.56%,
		60.79% 23.33%,
		61.79% 22.08%,
		63.28% 21.34%,
		63.77% 21.34%,
		64.76% 21.59%,
		65.51% 22.08%,
		66.25% 22.83%,
		67.25% 24.07%,
		67.49% 25.81%,
		67.49% 26.3%,
		60.3% 25.56%,
		53.6% 26.55%,
		54.09% 28.54%,
		53.85% 30.02%,
		53.1% 31.51%,
		52.11% 32.75%,
		51.36% 33.25%,
		49.13% 33.25%,
		47.21% 31.82%,
		46.4% 30.52%,
		46.15% 29.28%,
		46.34% 28.35%
	);
}
