.container {
	background: radial-gradient(50% 50% at 50% 50%, #2c1909 58.33%, #422810 100%),
		#aa5315;
}

.title {
	text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.75);
}

@media (min-width: 640px) {
	.container {
		background-image: linear-gradient(
			180deg,
			#432810 0.32%,
			#2b1809 52.42%,
			#442911 100%
		);
	}
}
