.form {
	background-color: #ffffff;
	border-radius: 10px;
}

.input {
	background-color: #e1e1e1;
	height: 38px;
	padding: 5px;
	border-radius: 4px;
	font-size: 18px;
}

.label {
	font-size: 18px;
	margin-bottom: 8px;
}

.image {
	z-index: -1;
}

.upload {
	& > * {
		// prevents child elements from interfering with drag & drop
		pointer-events: none;
	}
	background-color: #e1e1e1;
	border-radius: 12px;
	padding: 1rem 2rem;
}
