$animation-time: 0.15s;

.hoverGroup {
	.chatBox {
		transition: all $animation-time ease-out;
	}

	.spriteTitle {
		transition: all $animation-time ease-out;
		filter: drop-shadow(0 0 0 #ffffff00);
	}

	.sprite {
		transition: all $animation-time ease-out;
		filter: drop-shadow(0 0 0 #ffffff00);
	}

	&:hover {
		.chatBox {
			transform: translate(-8px, -8px);
		}

		.spriteTitle {
			transform: scale(1.05);
			filter: drop-shadow(0 0 8px #fff8a7);
		}

		.sprite {
			transform: scale(1.05);
			filter: drop-shadow(0 0 8px #fff8a7);
		}
	}
}
