.scrollbar {
	scrollbar-color: white var(--color-black);
	scrollbar-width: auto;
	scrollbar-gutter: stable;
}

.leftBorder {
	@media (max-width: 1150px) {
		display: none;
	}
	transform: translateY(25px);
	rotate: 180deg;
	margin-right: 5px;
}

.rightBorder {
	@media (max-width: 1150px) {
		display: none;
	}
	transform: translateY(-25px);
	margin-left: 5px;
}
