.container {
	background-image: url("~@/assets/backgrounds/faq-background-mobile.svg");
}

.title {
	text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.75);
}

@media (min-width: 640px) {
	.container {
		background-image: url("~@/assets/backgrounds/faq-background.svg");
	}
}
