.cloudAnim {
	animation: clouds 3s ease-in-out 0.5s;
	animation-fill-mode: forwards;
}

.titleAnim {
	animation: title 3s ease-in-out 1s;
	animation-fill-mode: forwards;
}

.headingDropShadow {
	text-shadow: var(--color-turquoise) 0px 0px 28px;
}

.cliffMask {
	-webkit-mask-image: linear-gradient(black, transparent);
	mask-image: linear-gradient(black, transparent);
}

.bottomCloud {
	transform: translateY(30%);
}

@keyframes slideOutLeft {
	from {
		transform: none;
	}

	to {
		transform: translate(-100%, 0);
	}
}

@keyframes slideOutRight {
	from {
		transform: none;
	}
	to {
		transform: translate(100%, 0);
	}
}

@keyframes clouds {
	from {
	}
	to {
		opacity: 0;
	}
}

@keyframes title {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
