.landingBackground {
	background-image: url("~@/assets/backgrounds/landing-background.png");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

@keyframes slideOutLeft {
	from {
		transform: none;
	}

	to {
		transform: translate(-100%, 0);
	}
}

@keyframes slideOutRight {
	from {
		transform: none;
	}
	to {
		transform: translate(100%, 0);
	}
}
