.background {
	mask-image: linear-gradient(
		rgba(0, 0, 0, 0) 17%,
		rgba(0, 0, 0, 1) 22%,
		rgba(0, 0, 0, 1) 85%,
		rgba(0, 0, 0, 0) 90%
	);
	scrollbar-color: black rgb(75, 136, 228);
	scrollbar-width: auto;
}
