@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-white: #fff;
	--color-offwhite: #FFFCE2;
	--color-black: #0c071b;
	--color-brown: #432810;
	--color-light-blue: #39befd;
	--color-blue: #006fb2;
	--color-dark-blue: #0b004c;
}

body {
	color: var(--color-white);
	background-color: var(--color-dark-blue);
}

/* based on Bootstrap Reboot */
p {
	margin-top: 0;
	margin-bottom: 1rem;
}

hr {
	margin: 1rem 0;
	color: inherit;
	border: 0;
	border-top: 1px solid;
	opacity: 0.25;
}
