@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-cream: #fffce2;
	--color-brown: #432810;
	--color-dark-blue: #090c31;
}

body {
	color: var(--color-cream);
	background-color: var(--color-brown);
}

/* based on Bootstrap Reboot */
p {
	margin-top: 0;
	margin-bottom: 1rem;
}

hr {
	margin: 1rem 0;
	color: inherit;
	border: 0;
	border-top: 1px solid;
	opacity: 0.25;
}
