@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* 2025 colors, remove later */
	--color-white: #fff;
	--color-offwhite: #fffce2;
	--color-black: #0c071b;
	--color-brown: #432810;
	--color-light-blue: #39befd;
	--color-midnight: #0c071b;

	/* 2026 colors */
	--color-yellow: #e5f200;
	--color-pink: #ff4def;
	--color-dark-blue: #170f51;
	--color-blue: #1e2a91;
	--color-turquoise: #00ffff;
}

body {
	color: var(--color-white);
	background-color: var(--color-midnight);
}

/* based on Bootstrap Reboot */
p {
	margin-top: 0;
	margin-bottom: 1rem;
}

hr {
	margin: 1rem 0;
	color: inherit;
	border: 0;
	border-top: 1px solid;
	opacity: 0.25;
}
