.background {
	mask-image: linear-gradient(
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 1) 20%,
		rgba(0, 0, 0, 1) 80%,
		rgba(0, 0, 0, 0)
	);
	scrollbar-color: black rgb(75, 136, 228);
	scrollbar-width: auto;
}
