@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-cream: #fffce2;
	--color-brown: #432810;
}

body {
	color: var(--color-cream);
}

h1 {
	font-size: calc(30px + 2vw);
	font-weight: bold;
}

p {
	font-size: calc(15px + 1.5vw);
	margin-bottom: 1rem;
}

a {
	font-size: calc(13px + 1vw);
	font-weight: bold;
}
