@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-cream: #fffce2;
	--color-brown: #432810;
	--color-dark-blue: #090c31;
}

body {
	color: var(--color-cream);
	background-color: var(--color-dark-blue);
}

p {
	margin-bottom: 1rem;
}
