.landingBackground {
	background-image: url("~@/assets/backgrounds/landing-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	mask-image: url("~@/assets/backgrounds/landing-background-mask.png");
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: cover;
}

.fogLeft,
.fogRight {
	animation-delay: 2s;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	z-index: 1000;
}

.fogLeft {
	animation-name: slideOutLeft;
}

.fogRight {
	animation-name: slideOutRight;
}

@keyframes slideOutLeft {
	from {
		transform: none;
	}

	to {
		transform: translate(-100%, 0);
	}
}

@keyframes slideOutRight {
	from {
		transform: none;
	}
	to {
		transform: translate(100%, 0);
	}
}
