.landingBackground {
	background-image: url("~@/assets/backgrounds/fog.png"),
		url("~@/assets/backgrounds/lantern-glow.png"),
		url("~@/assets/backgrounds/landing-lanterns-bottom.png"),
		url("~@/assets/backgrounds/boat.png"),
		url("~@/assets/backgrounds/stall-left.png"),
		url("~@/assets/backgrounds/stall-right.png"),
		url("~@/assets/backgrounds/landing-lanterns.png"),
		url("~@/assets/backgrounds/sky.png");
}

.fogLeft,
.fogRight {
	animation-delay: 1.5s;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	z-index: 1000;
}

.fogLeft {
	animation-name: slideOutLeft;
}

.fogRight {
	animation-name: slideOutRight;
}

@keyframes slideOutLeft {
	from {
		transform: none;
	}

	to {
		transform: translate(-100%, 0);
	}
}

@keyframes slideOutRight {
	from {
		transform: none;
	}
	to {
		transform: translate(100%, 0);
	}
}
