[tool.isort]
profile = "black"
src_paths = "src"

[tool.pytest.ini_options]
pythonpath = "src"
addopts = "--verbose --cov src"
testpaths = "tests"
asyncio_mode = "auto"

[tool.coverage.run]
branch = true

[tool.coverage.report]
show_missing = true

[tool.mypy]
mypy_path = "src,stubs,tests"
explicit_package_bases = true
strict = true
plugins = ["pydantic.mypy"]

[tool.pydantic-mypy]
# init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true
