.sponsorsContainer {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5rem;
	background-position: center;
	background-repeat: no-repeat;
	max-width: 80rem;
}

@media (min-width: 1024px) {
	.platinum,
	.gold {
		max-width: 400px;
		max-height: 400px;
	}
	.silver {
		max-width: 350px;
		max-height: 350px;
	}
	.bronze,
	.sponsored-prize,
	.in-kind {
		max-width: 300px;
		max-height: 300px;
	}
}
