.sponsorsContainer {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-position: center;
	background-repeat: no-repeat;
	max-width: 36rem;

	@media (min-width: 1024px) {
		max-width: 56rem;
	}

	@media (min-width: 1280px) {
		max-width: 64rem;
	}
}

@media (min-width: 1024px) {
	.platinum,
	.gold {
		max-width: 200px;
		max-height: 200px;
	}
	.silver {
		max-width: 150px;
		max-height: 150px;
	}
	.bronze,
	.sponsored-prize,
	.in-kind {
		max-width: 100px;
		max-height: 100px;
	}
}
